/* ============================== */
/* Large Breakpoint */
/* ============================== */

@media (max-width: 992px) {

    /* navbar  */
    .main-nav .navbar .button {
        margin: 1.3rem 0rem;
    }

    /* welcome section  */

    .welcome .content .description {
        letter-spacing: .04rem;
        padding: 0rem 0rem;
    }

}

/* ============================== */
/* Medium Breakpoint */
/* ============================== */

@media (max-width: 768px) {

        /* welcome section  */

        .welcome .content {
            bottom: 55%;
            padding: .1rem;
        }

}


/* ============================== */
/* Small Breakpoint */
/* ============================== */

@media (max-width: 400px) {

        /* welcome section  */

    .welcome .content {
        bottom: 65%;
        padding: .1rem;
    }


}


/* ============================== */
/* Extra Small Breakpoint */
/* ============================== */

@media (max-width: 250px) {

        /* welcome section  */

    .welcome .content {
        bottom: 80%;
        padding: .1rem;
    }


}