/* ============================== */
/* Large Breakpoint */
/* ============================== */

@media (max-width: 992px) {

    /* navbar  */
    .main-nav .navbar .button {
        margin: 1.3rem 0rem;
    }

    /* welcome section  */
    .welcome .content .description {
        letter-spacing: .04rem;
        padding: 0rem 0rem;
    }

    /* header section  */
    .header .breadcrumb .breadcrumb-item {
        padding-left: 1rem;
    }

}

/* ============================== */
/* Medium Breakpoint */
/* ============================== */

@media (max-width: 768px) {

    /* welcome section  */
    .welcome .content {
        bottom: 55%;
        padding: .1rem;
    }

    /* header section  */
    .header .breadcrumb .breadcrumb-item {
        padding-left: .5rem;
    }


}

/* ============================== */
/* Small Breakpoint */
/* ============================== */

@media (max-width: 576px) {

    /* class section */
    .classes .box,
    .classes img {
        height: 18rem;
        width: 25rem;
    }


}


/* ============================== */
/* Extra Small Breakpoint */
/* ============================== */

@media (max-width: 400px) {

    /* welcome section  */
    .welcome .content {
        bottom: 65%;
        padding: .1rem;
    }

    /* header section  */
    .header .breadcrumb .breadcrumb-item {
        padding-left: unset;
    }

    /* class section */
    .classes .box,
    .classes img {
        height: 14rem;
        width: 18rem;
    }

    .classes .name {
        bottom: 3rem;
        padding: .12rem 0rem;
        font-size: 1.2rem;
        letter-spacing: .12rem;
    }




}


/* ============================== */
/* Extra Extra Small Breakpoint */
/* ============================== */

@media (max-width: 250px) {

    /* welcome section  */
    .welcome .content {
        bottom: 80%;
        padding: .1rem;
    }


}